
          <ul class="nav nav-pills justify-content-end shadow-sm">
                    <li class="nav-item">
                      <a class="nav-link" aria-current="page" href="/index.html">HOME</a>
                    </li>
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">PROFILE</a>
                      <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/ms_dhoni.html">MS DHONI</a></li>
                        <li><a class="dropdown-item" href="/virat.html">VIRAT KOHALI</a></li>
                        <li><a class="dropdown-item" href="/jadeja.html">RAVINDRA JADEJA</a></li>
                        <li><a class="dropdown-item" href="/rohit.html">ROHIT SHARMA</a></li>
                      </ul>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="/about.html">ABOUT</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="#">LOGOUT</a>
                    </li>
                    
                  </ul>
          
